Debug/minilang.exe
Debug/minilang.ilk
Debug/minilang.log
Debug/minilang.pdb
Debug/minilang.tlog/cl.command.1.tlog
Debug/minilang.tlog/CL.read.1.tlog
Debug/minilang.tlog/CL.write.1.tlog
Debug/minilang.tlog/link.command.1.tlog
Debug/minilang.tlog/link.read.1.tlog
Debug/minilang.tlog/link.write.1.tlog
Debug/minilang.tlog/minilang.lastbuildstate
Debug/Source.obj
Debug/vc120.idb
Debug/vc120.pdb
minilang.opensdf
minilang.sdf
minilang.sln
minilang.v12.suo
minilang.vcxproj
minilang.vcxproj.filters
